
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Rent</a>
      <%=image_tag("rent.jpeg", :class=>"img-circle", :width=> "50px", :height=> "50px")%> 
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><span class = "signup"> 
          <%= link_to "Sign Up",  new_user_registration_path, class: "navbar-link my-link"%> </span></li> 
        <li><span class ="signup"><%= link_to "Login",  new_user_session_path, class: "navbar-link my-link" %></span></li>
      </ul>
    </div>
  </div>
</nav>
<div class= "container-fluid-home">
  <div class = "col-sm-8">
    <h1> Find Homely Environment</h1>
    <h2> At Cheapest Rate</h2>
  </div>
  
</div>

