<%= render partial: 'header' %>
<div class = "container">
	<h2> Available Rooms </h2>
	<% @rooms.each do |r| %>
		<h3><%= link_to r.title, user_room_path(r.user_id, r.id) %></h3> <br>
		<%= r.price %>
	<% end %>
</div>

