.navbar-inverse{
	background: transparent;
	/*opacity: .60;*/
}

.signup{
	color: #1BC3BD;
	padding: 8px;
}
 .container-fluid-home{
 	background-image: url("apartment.png");
 	background-size: cover;
	min-height: 700px;
	margin-top: -30px;
 }
 .jumbotron{
 	background-color: #C5E4EF;
 }
 .col-sm-4{
 	outline: 1px solid #ECB248;
 }
 .navbar-nav > li{
 	margin-top: 2px;
 }
 .link{
 	padding: 15px;
 	color: white;
 }

 .thumbnail .caption{
 	text-align: center;
 }
 


