.navbar-inverse{
	background: transparent;
	/*opacity: .60;*/
}

.signup{
	color: #1BC3BD;
	padding: 8px;
}
 .container-fluid-home{
 	background-image: url("apartment.png");
 	background-size: cover;
	min-height: 700px;
	margin-top: -30px;
 }
 .jumbotron{
 	background-color: #C5E4EF;
 }
 .col-sm-4{
 	outline: 1px solid #83BD98;
 	background-color: #E9F0E9;
 	text-align: center;
 }
 .navbar-nav > li{
 	margin-top: 2px;
 }
 .link{
 	padding: 15px;
 	color: white;
 }

 .thumbnail-index .caption{
 	text-align: center;
 }

 .thumbnail-index{
 	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857;
	border-radius: 4px;
	transition: border 0.2s ease-in-out 0s;
 	background-color: #E9F0E9;
	border: 1px solid #83BD98;
 }

 .image{
 	margin: 50px;
 }

 .devise{
 	background-color: #E9F0E9;
 }
/* User sign in and sign forms. */

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #E9F0E9;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  		border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  		box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
 


